.main-container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.odp-sitemap h1{
    font: 400 34px/40px FormaDJRMicro !important;
}

.sm-title {
    border-bottom: 1px solid #000;
    font: 400 22px/28px FormaDJRMicro !important;
}

.sm-cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sm-col {
    flex: 25%;
}

.sm-cols {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

@media (min-width: 45em) {
    .sm-cols {
        flex-wrap: nowrap;
    }
}