.main-container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 56px 0;
}

.odp-sitemap h1{
    font: 400 34px/40px FormaDJRMicro !important;
    margin-bottom: 32px;
}

.sm-title {
    border-bottom: 1px solid #000;
}

.sm-title h2 {
    font: 400 16px/22px FormaDJRMicro !important;
    margin-bottom: 4px;
}

.sm-cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.sm-col {
    flex: 25%;
    padding: 20px 32px 20px 0;
}

.sm-cols {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.sm-col a {
    font: 700 14px/18px FormaDJRMicro !important; 
    color: #4759F5 !important;
    text-decoration: underline;
}

.sm-col p {
    margin-bottom: 8px !important;
}

.sm-col a:hover {
    background: #EDEEFE;
}

@media (min-width: 45em) {
    .sm-cols {
        flex-wrap: nowrap; 
    }

    .sm-col {
        width: 100%;
    }
}

