.main-container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.row{
    display: flex; 
    padding: 0.5em;
    width: 100%;
}

.column {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.column p {
	flex: 1 0 auto;
}

@media all and (min-width: 40em) {
    .column {
      width: 50%;
    }
  }
  @media all and (min-width: 60em) {
    .column {
      width: 33.33%;
    }
  }